.table-responsive {
  &>.fixed-column {
    right: 0;
    top: 0px;
    position: absolute;
    display: inline-block;
    width: 200px;
    th, td {
      visibility: visible!important;
      text-align: center!important;
    }
  }
  .table {
    &>thead {
      &>tr {
        &>th {
          white-space: nowrap;
          &:last-child {
            visibility: hidden;
            text-align: right;
          }
        }
      }
    }
    &>tbody {
      &>tr {
        &>td {
          vertical-align: middle;
          &:last-child {
            text-align: right;
            visibility: hidden;
          }
        }
      }
    }
  }
}